/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

*{
  box-sizing: border-box;
  margin: 0;
}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.dark-green-navbar {
  background-color: #004225; /* Example dark green color */
}
.navbar {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
/*Customize the nav-item*/
.nav-item{
  padding: 15px;
}
.nav-link
{
  font-size: 14px !important;
}
/*Styling the Home, Browse Club, and Club Detail*/
#topLeftNav
{
  margin-right: 30px;
}
#topLeftNav {
  position: relative;
}

#topLeftNav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initially, set the width to 0 */
  height: 3px; /* Adjust the thickness of the line as needed */
  background-color: white;
  transition: width 0.3s; /* Add transition for width */
}

#topLeftNav:hover::before,
#topLeftNav.active::before {
  width: 100%; /* Increase the width to 100% on hover and for active links */
}

/*Font size for navbarbrand textlogo*/
.navbar-brand
{
  font-family: 'Agbalumo';
  font-size: 45px !important;
  color: #ECECEC !important;
  margin-right: 120px !important;
}

.carousel .carousel-indicators button {
  width: 15px; /* Adjust the size as needed */
  height: 15px; /* Adjust the size as needed */
  background-color: grey;
  border-radius: 50%; /* Rounded shape */
}

.carousel-container
{
  width: 800px !important;
}

.carousel .carousel-indicators .active {
  background-color: #fff; /* White fill for the active indicator */
  background-size: 5px 5px; /* Adjust the size as needed */
}
/*Set height of slider image*/
.h-custom {
  height: 400px; /* Set your desired height here */
}
/*Create an underline under where it says Discover, Connect, and Join Clubs at UH with Ease */
hr {
  width: 50%; /* Adjust the width as needed, e.g., 50% of the containing element */
  margin: auto !important; /* Center the hr horizontally within its containing element */
  border: 1px solid #000; /* Optional: Add a border for styling */
}


.carousel-control-prev
{
  position: absolute;
}

