

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Raleway:400,700|Playfair+Display:400,700i');

/* Set up some CSS variables to theme the application. */
:root {
  --banana-leaf-green: #4F7942;
  --dark-banana-leaf-green: #3E6335;
  --light-tropical-green: #DAE8D4;
  --coconut-white: #FFFFF0;
  --pale-yellow: #feefd0;
  --coral-pink: #FF9E80;
  --volcanic-grey: #707070;
  --navbar-bg-color: rgba(255, 255, 255, 0); /* Clear background */
  --nav-item-bg-color: rgba(255, 255, 255, 0.3); /* Semi-transparent for nav items */
  --nav-item-border-radius: 1.2rem; /* Very rounded edges for nav items */
  --nav-item-hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Shadow on hover */
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%; /* Make html and body take full height */
  margin: 0; /* Reset default margin */
}

/* Make sure the main content pushes the footer down */
#main-content {
  flex: 1; /* Allows the main content to grow and occupy available space */
}

.navbar .dropdown-toggle::after {
  display: none;
}

/* Modal Styles */
.modal-header {
  background-color: var(--light-tropical-green);
  color: var(--dark-banana-leaf-green);
  border-bottom: 2px solid var(--coconut-white);
}

.modal-body {
  background-color: var(--coconut-white);
  color: var(--volcanic-grey);
}

.modal-footer {
  background-color: var(--pale-yellow);
}

.close-button {
  background-color: var(--coral-pink);
  color: var(--coconut-white);
  border: none;
  border-radius: var(--nav-item-border-radius);
  box-shadow: var(--nav-item-hover-shadow);
}

.close-button:hover {
  background-color: var(--dark-banana-leaf-green);
}

/* Define custom styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--coconut-white);
  color: var(--banana-leaf-green);
  line-height: 1.6;
  display: flex;
  flex-direction: column; /* Stack children elements vertically */
}

.image-wrapper {
  position: relative;
  padding: 20px; /* Adjust padding as needed */
}

#add-events .card {
  /* Semi-transparent white background */
  background-color: rgba(255, 255, 255, 0.8)!important;
}

@media (max-width: 576px) { /* Adjust for small screens */
  .theme-text-field,
  .theme-select-field,
  .submit-button {
    font-size: 14px; /* Smaller font size */
    padding: 8px; /* Smaller padding */
  }
}

.theme-text-field, .theme-select-field, .submit-button {
  width: 100%; /* Ensures full width */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

/* Additional responsive adjustments */
@media (max-width: 768px) {
  .theme-text-field, .theme-select-field, .submit-button {
    /* Adjust padding, font-size, etc., as needed for smaller screens */
  }
}

.image-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-image: url('/images/DesignCutout.png');
  background-position: center;
  border-radius: 20px; /* If you want rounded edges */
  z-index: -1; /* Ensures the image is behind the form */
  /* Adjust width and height as needed to make it wider and shorter */
  width: 115%; /* Example: to make it wider */
  height: 100%; /* Example: to make it shorter */
  margin-left: -5%; /* Adjust to align center if width is more than 100% */
}

.theme-card {
  background: rgba(255, 255, 255, 0.8)!important; /* Optional: for slight transparency */
  /* Position the card inside the wrapper */
  position: relative;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gray-background {
  background-color: var(--light-tropical-green);
  color: var(--banana-leaf-green);
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Modify or remove the dark-green-navbar if it is not used or needed anymore */
.dark-green-navbar {
  background-color: var(--banana-leaf-green);
  position: relative; /* or 'fixed' or 'absolute' as per your layout */
  z-index: 1050;
}

/* Global resets */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Typography */
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0.5em;
}

h3 {
  font-weight: bold;
  color: var(--banana-leaf-green);
}

p {
  font-size: 1rem;
  color: var(--coconut-white);
}

em {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

/* Utility Classes for Typography */
.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-playfair {
  font-family: 'Playfair Display', serif;
}

/* Iconography */
.icon {
  width: 50px; /* Example size */
  height: auto;
  fill: #707070;
  /* Add styles for your SVG icons */
}

/* Define a card component with rounded edges and shadows */
.card {
  background-color: var(--coconut-white);
  border-radius: 20px; /* This will give you very rounded edges */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* This adds a subtle shadow */
  transition: 0.3s; /* This makes the hover effect smooth */
  padding: 16px; /* Adjust padding as needed */
  margin: 16px; /* Space out cards */
  width: 100%;
}


/* Define the hover effect for the card to make it appear to "lift" off the page */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); /* A larger shadow to create the lifting effect */
  transform: translateY(-4px); /* Slightly raise the card */
}


.card .card-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; /* Adjust size as needed */
  color: #707070;
}

/* Club Card Styling */
.club-card {
  position: relative;
  background-color: var(--coconut-white); /* White background for contrast */
  border-radius: 20px!important; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden;
  height: 500px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Club Card Styling */
.club-card2 {
  position: relative;
  background-color: var(--coconut-white); /* White background for contrast */
  border-radius: 20px!important; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden;
  height: 400px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}
.club-card-body {
  height: 250px; /* Set a fixed height, adjust as needed */
  position: relative; /* Establishes a positioning context for children */
  display: flex;
  margin-right: 20px;
  justify-content: center;
  flex-direction: column;
}
.club-card-body2 {
  height: 150px; /* Set a fixed height, adjust as needed */
  position: relative; /* Establishes a positioning context for children */
  display: flex;
  margin-right: 20px;
  justify-content: center;
  flex-direction: column;
}

.club-card-buttons {
  position: absolute;
  bottom: 0; /* Aligns the container to the bottom */
  width: 100%; /* Ensures it spans the full width of the card */
  padding: 10px; /* Add some padding around the buttons */
}

.club-card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover for 'pop' effect */
}

/* Club Card Header */
.club-card-header {
  background-color: var(--light-tropical-green)!important; /* Light tropical green for header */
  color: var(--volcanic-grey)!important; /* Grey text for contrast */
  display: flex!important;
  align-items: center!important;
  padding: 10px!important;
  /* Maintain rounded corners at the top */
  border-radius: 20px!important;
}

.club-card-image {
  width: 80px; /* Controlled image size */
  height: 80px;
  border-radius: 50%; /* Circular image */
  object-fit: cover;
  margin-right: 15px;
}

.club-card-title-area {
  display: flex!important;
  flex-direction: column!important;
}

.club-card-title {
  font-size: 1.2rem!important;
  font-weight: bold!important;
  color: var(--banana-leaf-green)!important; /* Dark green for title */
}

.club-card-meeting-time {
  font-size: 0.9rem!important;
  color: var(--volcanic-grey)!important; /* Grey for less prominent details */
}

/* Club Card Body */
.club-card-body {
  padding: 15px;
  border-bottom-left-radius: 20px; /* Maintain rounded corners at the bottom */
  border-bottom-right-radius: 20px;
}

.club-card-description {
  color: var(--volcanic-grey)!important; /* Grey for description text */
  margin-bottom: 15px;
}

/* Club Categories */
.club-card-categories {
  display: flex; /* Flex layout for category tags */
  flex-wrap: wrap; /* Allow wrapping for multiple tags */
  margin-bottom: 15px;
}

.club-category-tag {
  background-color: var(--pale-yellow)!important; /* Pale yellow for category tags */
  border-radius: 10px!important;
  padding: 5px 10px!important;
  margin-right: 5px!important;
  margin-bottom: 5px!important; /* Space between wrapped tags */
  font-size: 0.8rem!important;
}

.club-card-remove-link {
  background-color: var(--coral-pink)!important;
  color: var(--coconut-white)!important;
  padding: 8px 15px!important;
  border-radius: 10px!important;
  text-align: center!important;
  display: inline-block!important;
  text-decoration: none!important; /* Remove underline from link */
  transition: background-color 0.3s ease!important;
  outline: none!important; /* Removes the outline */
  border: none!important;
}

/* Link/Button Styling */
.club-card-detail-link {
  background-color: var(--banana-leaf-green)!important; /* Coral pink for the detail link */
  color: var(--coconut-white)!important;
  padding: 8px 15px!important;
  border-radius: 10px!important;
  text-align: center!important;
  display: inline-block!important;
  text-decoration: none!important; /* Remove underline from link */
  transition: background-color 0.3s ease!important;
  outline: none!important; /* Removes the outline */
  border: none!important;
}


.club-card-detail-link:hover {
  background-color:var(--banana-leaf-green)!important;
  text-decoration: none!important;
  color: var(--coconut-white)!important;
}


/* Event Card Styling */
.event-card {
  background-color: var(--coconut-white); /* White background for contrast */
  border-radius: 20px!important; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.event-card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover for 'pop' effect */
}

/* Event Card Header */
.event-card-header {
  background-color: var(--light-tropical-green)!important; /* Light tropical green for header */
  color: var(--volcanic-grey)!important; /* Grey text for contrast */
  display: flex!important;
  align-items: center!important;
  padding: 10px!important;
  border-radius: 20px!important; /* Maintain rounded corners at the top */
}

.event-card-image {
  width: 80px; /* Controlled image size */
  height: 80px;
  border-radius: 50%; /* Circular image */
  object-fit: cover;
  margin-right: 15px;
}

.event-card-title-area {
  display: flex!important;
  flex-direction: column!important;
}

.event-card-title {
  font-size: 1.2rem!important;
  font-weight: bold!important;
  color: var(--banana-leaf-green)!important; /* Dark green for title */
}

.event-card-date {
  font-size: 0.9rem!important;
  color: var(--volcanic-grey)!important; /* Grey for less prominent details */
}

/* Event Card Body */
.event-card-body {
  padding: 15px!important;
  border-radius: 20px!important; /* Maintain rounded corners at the bottom */
}

.event-card-description {
  color: var(--volcanic-grey)!important; /* Grey for description text */
  margin-bottom: 15px;
}

/* Link/Button Styling */
.event-card-edit-link {
  background-color: var(--coral-pink); /* Coral pink for the edit link */
  color: var(--coconut-white);
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none; /* Remove underline from link */
  transition: background-color 0.3s ease;
}

.event-card-edit-link:hover {
  background-color: var(--banana-leaf-green)!important; /* Darken the coral pink on hover */
  color: var(--coconut-white);
}

.card-container {
  background-color: var(--coconut-white);
  border: 1px solid var(--light-tropical-green);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--volcanic-grey);
}

.profile-picture {
  border: 5px solid var(--banana-leaf-green);
}

/* Styles for day labels (Monday-Sunday) */
.fc-col-header-cell-cushion {
  color: #4F7942 !important; /* Banana Leaf Green */
  text-decoration: none !important;
}
.fc-button-active {
  background-color: #4F7942 !important;
}

/* Styles for buttons at the top */
.fc .fc-button {
  background-color: #DAE8D4; /* Light Tropical Green */
  color: #707070; /* Volcanic Gray */
  border: none; /* Optional, for button borders */
}

.fc-button-primary:hover {
  background-color: #FF9E80 !important; /* Coral Pink for hover state */
}

/* Styles for numbers in calendar days */
.fc .fc-daygrid-day-number {
  color: #FF9E80;
  text-decoration: none !important;
}

.calendar-container {
  color: #707070; /* Volcanic Gray */
  border-radius: 20px!important;
}



.event-style {
  border-color: #FF9E80; /* Coral Pink */
  background-color: #feefd0; /* Pale Yellow */
}


.edit-profile-picture {
  background-color: var(--coral-pink);
  color: var(--coconut-white);
  border: none;
  margin-top: 10px;
}

.small-card {
  background-color: var(--coconut-white);
  border: 1px solid var(--light-tropical-green);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--volcanic-grey);
}

.small-card .card-title {
  color: var(--banana-leaf-green);
}

.small-card .card-text {
  color: var(--volcanic-grey);
}

.text-display {
  color: var(--volcanic-grey); /* Text color */
  background-color: var(--pale-yellow); /* Background color */
  padding: 10px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid var(--banana-leaf-green);
}

.text-field {
  border-color: var(--banana-leaf-green);
}

.submit-field {
  background-color: var(--dark-banana-leaf-green);
  color: var(--coconut-white);
}

.error-field {
  color: var(--coral-pink);
}



/* Profile Card Styling */
.profile-card {
  background-color: var(--coconut-white);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 75%; /* Adjust width as needed */
}

.profile-card-header {
  background-color: var(--light-tropical-green);
  display: flex;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-banner {
  border-radius: 25px; /* Highly rounded edges for the banner */
}

.card-container, .small-card {
  border-radius: 40px!important; /* Highly rounded edges for all cards */
}

.profile-picture {
  width: 300px!important;
  height: 300px!important;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-header-info {
  flex-grow: 1;
}

.profile-name {
  font-size: 1.5rem;
  color: var(--banana-leaf-green);
}

.profile-title {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 10px;
}

.profile-bio {
  color: var(--volcanic-grey);
}

.profile-card-body {
  padding: 20px;
  color: var(--banana-leaf-green);
}

.interest-tag {
  background-color: var(--pale-yellow);
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.8rem;
  display: inline-block;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .profile-card {
    width: 100%;
  }
}

/* Profile Page Styling */
.profile-card {
  background-color: var(--coconut-white);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card-header {
  background-color: var(--light-tropical-green);
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-header-info {
  flex-grow: 1;
}

.profile-name {
  font-size: 1.5rem;
  color: var(--banana-leaf-green);
}

.profile-title {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 10px;
}

.profile-bio {
  color: var(--volcanic-grey);
}

.profile-card-body {
  padding: 20px;
  color: var(--banana-leaf-green);
}

.interest-tag {
  background-color: var(--pale-yellow);
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.8rem;
  display: inline-block;
}

.dark-green-navbar .dropdown-menu {
  border-radius: 0.5rem; /* Soft curved edges */
  box-shadow: none; /* No shadow by default */
}

.dark-green-navbar .dropdown-menu:hover,
.dark-green-navbar .dropdown-menu:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Shadow on hover/focus */
}

/* If you want the shadow to appear when you hover over the dropdown trigger */
.dark-green-navbar .nav-item:hover .dropdown-menu,
.dark-green-navbar .nav-item:focus .dropdown-menu {
  display: block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* Clear navbar styles */
.navbar {
  background-color: white !important; /* Clear background */
  box-shadow: none !important; /* No shadow */
  height: 120px;
}


/* Style nav items as buttons with rounded edges */
.navbar .nav-link,
.navbar .nav-item .nav-link {
  background-color: white;
  font-size: 25px;
  border-radius: var(--nav-item-border-radius);
  transition: all 0.3s; /* Smooth transition for background color and shadow */
  margin: 0 0.5rem; /* Space between items */
}
/*Do Navbar Brand*/
.navbar .navbar-brand
{
  background-color: var(--nav-item-bg-color);
  font-size: 35px;
  border-radius: var(--nav-item-border-radius);
  transition: all 0.3s; /* Smooth transition for background color and shadow */
  margin: 0 0.5rem; /* Space between items */
}


/* Rounded corners for dropdown menus as well */
.navbar .dropdown-menu {
  border-radius: var(--nav-item-border-radius);
}

/* Hover effect for nav items */
.navbar .nav-item:hover .nav-link {
  box-shadow: var(--nav-item-hover-shadow);
  transform: translateY(-2px); /* Slightly raise the nav item */
}


/* Since the navbar is clear, ensure the toggle button is visible */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); /* Adjust as needed */
}

/* Adjust toggle icon color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
  /* Clear background for collapsed navbar */
  .navbar-collapse {
    background-color: white;
  }
}

#basic-navbar-nav{
  border-radius: 25px;
}

/* Ensure that the dropdown menus have the appropriate styles as well */
.navbar .dropdown-menu:hover,
.navbar .dropdown-menu {
  background-color: white; /* Match nav item background */
  border: none; /* Remove border */
}
/* Hover effect for dropdown items */
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
  background-color: #707070; /* No background change */
  box-shadow: none; /* No shadow */
}

/* First dropdown item rounded at the top */
.dark-green-navbar .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

/* Last dropdown item rounded at the bottom */
.dark-green-navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: var(--coconut-white); /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFF0, #4F7942); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFF0, #4F7942); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.slider-card {
  background: #fff;
  margin: 50px 15px 90px 15px;
  border-radius: 1.4em;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;

}
.slider-card img {
  border-radius: 20px 20px !important;

}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}


.club-category-tag {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

/*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/
/*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/
/*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/

.signin-form-section  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style the headings */
.signin-form-section h1 {
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 2rem;
  white-space: nowrap; /* Make sure the header is in one line */
  margin-right: 300px; /* Center the login header, idk ehy text center wasnt working. */
}
.signup-call-to-action h1 {
  text-align: center;
  font-size: 4rem; /* Size of the header */
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.signin-call-to-action h1 {
  text-align: center;
  color: black;
  font-size: 4rem; /* Size of the header */
  font-weight: 700;
  width: 100%;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.signup-call-to-action p {
  text-align: center;
  font-size: 1.8rem; /* Size of the header */
  color: #ffffff;
  font-weight: 5;
  width: 100%;
  margin-bottom: 2rem;
}


.signup-call-to-action-section {
  flex: 0 0 50%;
  background-color: var(--banana-leaf-green);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.signin-form-section form {
  width: 100%;
  max-width: 320px;
}

.form-controltextbox {
  width: 450px !important;
  height: 60px !important;
  margin-bottom: 1rem !important;
  padding: 0.75rem 1rem !important;
  border-radius: 100px !important;
  border: 1px solid #ced4da !important;
  background-color: #f0f0f0 !important;
}

.form-controltextbox:focus {
  background-color: #ffffff !important;
  border-color: #545d62 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(93, 92, 92, 0.22) !important;
}



.form-controlsubmit {
  width: 200px !important;
  height: 60px !important;
  margin-bottom: 1rem !important;
  padding: 0.75rem 1rem !important;
  border-radius: 100px !important;
  border: 1px solid #ced4da !important;
  background-color: var(--banana-leaf-green) !important;
  color: #ffffff !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
}

.form-controlsignup {
  width: 200px !important;
  height: 60px !important;
  margin-bottom: 1rem !important;
  padding: 0.75rem 1rem !important;
  border-radius: 100px !important;
  border: 1px solid #ced4da !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;

}


.signup-call-to-action-section {
  flex: 0 0 50%;
  background-color: var(--banana-leaf-green);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.signin-form-section form {
  width: 100%;
  max-width: 320px;
}


.btn-primary {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: #005f73;
}
.btn-primary {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: #005f73;
}

.font-color-white {
  color: #ffffff;
}

/*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/
/*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/
/*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/ /*SIGN IN PAGE*/



/* FOOTER START */ /* FOOTER START */ /* FOOTER START */ /* FOOTER START */
.footer {
  padding: 20px;
}


.footer-column h2 {
  color: #ffffff;
}


.footer-column p {
  margin-bottom: 5px;
}


.vertical-line {
  border-left: 1px solid #fff;
  height: 100%;
  opacity: 1;
}


.vertical-line-container {
  padding: 0;
}


/* Will hide the vertical line and stack the columns when minimized */
@media (max-width: 767px) {
  .vertical-line {
    display: none;
  }
}


.heading-underline {
  width: 50%;
  border: 0;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 15px;
  opacity: 1;
}


.footer-link {
  color: #ffffff;
  text-decoration: none;
}


.footer-link:hover {
  color: #211d1d;
}


.social-icon {
  color: white;
  transition: color 0.3s ease-in-out;
}


.social-icon:hover svg {
  color: #211d1d;
}
/* FOOTER END*/ /* FOOTER END*/ /* FOOTER END*/ /* FOOTER END*/ /* FOOTER END*/

/* CLUB DESC*/ /* CLUB DESC*/ /* CLUB DESC*/ /* CLUB DESC*/ /* CLUB DESC*/

/* Style for the card header */
.my-container .card-title {
  font-size: 2.2em !important; /* Adjust the font size of the header as needed */
  color: #030000;
}

/* Adjust the paragraph size and color */
.my-container .card-text {
  color: black; /* Ensures text is black */
  font-size: 1.5em; /* Adjust the font size of the text as needed */
  margin-top: 15px; /* Optional: adds some space between the header and text */
}


/* CLUB DESC END*/ /* CLUB DESC END*/ /* CLUB DESC END*/ /* CLUB DESC END*/

/*RandomPromoContainer*/ /*RandomPromoContainer*/ /*RandomPromoContainer*/ /*RandomPromoContainer*/
/* Adjust the carousel container */
.carousel {
  width: 100%;
  margin: auto;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .carousel-item {
    height: 300px;
  }
}

@media (max-width: 1100px) {
  .carousel {
    width: 110%;
  }
}

@media (min-width: 992px) {
  .carousel {
    width: 100%;
    max-width: 7000px;
  }
}


/* Adjust each carousel item */
.carousel-item {
  height: 500px;
}

.carousel-item .carousel-background {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-caption-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 0;
}

.carousel-caption-container h3,
.carousel-caption-container p {
  color: #ffffff;
}
.carousel-caption-container2 p {
  color: #ffffff;
}

.carousel-row {
  display: flex;
  flex-wrap: nowrap;
}

.carousel-background {
  background-size: cover;
  background-position: center;
}

.carousel-caption-container {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  color: #ffffff;
  padding: 20px;
}

/* Ensure your button is positioned at the bottom of the column */
.carousel-caption-container .btn {
  align-self: center; /* Center button horizontally */
  margin-top: auto; /* Push button to the bottom */
  /*background-color: var(--banana-leaf-green);*/
}

/*RandomPromoContainer END*/ /*RandomPromoContainer END*/ /*RandomPromoContainer END*/ /*RandomPromoContainer END*/


.tag-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag-checkbox {
  display: none;
}

.tag-label {
  display: inline-block;
  width: 88px;
  height: 37px;
  line-height: 40px;
  border-radius: 2em;
  border: 1px solid grey;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: border-color 0.3s;
}

.tag-checkbox:checked + .tag-label {
  border-color: deeppink;
}

.form-control{
  width: 400px !important;
  height: 60px !important;
  margin-bottom: 1rem !important;
  padding: 0.75rem 1rem !important;
  border-radius: 100px !important;
  border: 1px solid #ced4da !important;
  background-color: #f0f0f0 !important;
}


.form-control:focus {
  background-color: #ffffff !important;
  border-color: #545d62 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(93, 92, 92, 0.22) !important;
}


.form-controlsubmit {
  width: 200px !important;
  height: 60px !important;
  margin-bottom: 1rem !important;
  padding: 0.75rem 1rem !important;
  border-radius: 100px !important;
  border: 1px solid #ced4da !important;
  background-color: var(--banana-leaf-green) !important;
  color: #ffffff !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
}

.form-controlsignup {
  width: 200px !important;
  height: 60px !important;
  margin-bottom: 1rem !important;
  padding: 0.75rem 1rem !important;
  border-radius: 100px !important;
  border: 1px solid #ced4da !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;

}

.profilePicture
{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* Add this to your CSS file */
.red-title-background {
  background-color: red !important; /* Use !important to override any existing styles */
  color: white; /* Optional: Change text color to white for better visibility */
}

.smaller-text
{
  font-size: .8em;
}

.suggestions-dropdown {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  background-color: grey;
  width: 17%;
}

.bio
{
  height: 400px !important;
}

.custom-pagination .page-item {
  margin-right: 5px; /* Adjust the space as needed */
}

.custom-pagination .page-link {
  background-color: white;
}

.custom-pagination .page-item.active .page-link {
  background-color: grey;
  border: black;
}

.custom-pagination .page-item:not(.disabled) .page-link:hover {
  background-color: grey;
}


